---
import Nav from "../sections/Nav.astro"
import Hero from "../sections/Hero.astro";
import About from "../sections/About.astro";
import Rent from "../sections/Rent.astro";
import Ride from "../sections/Ride.astro";
import Story from "../sections/Story.astro";
import Banner from "../sections/Banner.astro";
import Download from "../sections/Download.astro";
import News from "../sections/News.astro";
import Footer from "../sections/Footer.astro";
---
  <html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon"type="image/svg+xml"href="/favicon.svg"/>
		<meta name="viewport"content="width=device-width"/>
		<meta name="generator"content= {Astro.generator}/>
		<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
		<link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
		<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"rel="stylesheet">
		<title>Rental | Website</title>
	</head>
		<body>
			<header class="header">
				<Nav/>
				<Hero />
			</header>
			<main>
				<About/>
				<Rent/>
				<Ride/>
				<Story/>
				<Banner/>
				<Download/>
				<News/>
			</main>
			<Footer/>
		

		</body>
	</html>
			
<style is:global>
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syncopate:wght@400;700&display=swap");
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	border: none;
}

html,
body {
	scroll-behavior: smooth;
}

:root {
	--primary-color: #f5b754;
	--primary-color-dark: #d6a04a;
	--text-dark: #15191d;
	--text-light: #737373;
	--extra-light: #e5e5e5;
	--white: #ffffff;
	--max-width: 1200px;
	--header-font: "Syncopate", sans-serif;
}

body {
	font-family: "Poppins", sans-serif;
}

a {
	transition: 0.3s;
}

img {
	display: flex;
	width: 100%;
}

.header {
	position: relative;
	background-image: url("../assets/header-bg.png");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	
}

</style>